.container{
    display: flex;
    background-color:#fceed1;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}
.navList{
    display: flex;
    gap: 4rem;
    margin-right: 2rem;
}
.navList li{
    list-style-type: none;
    font-size: 22px;
    font-weight: 500;
    
}
 .Link {
    text-decoration: none;
    color: black;
}
li:hover{
    color:blue;
}
.vigorh1{
    font-size: 15px;
    margin-left: 2rem;
    color: #ff1e00;
}